<div style="display: flex;">
    <div class="background">
    </div>
    <div class="container-overlay">

        <!--Text-->
        <p class="fadeIn">Hallo,<br> mein Name ist <font color="#3adee0">Laura Andrašev</font><br>Front End Developer.</p>

        <!--Bild-->
        <img class="fadeIn" src="assets/laura.jpg">
        
    </div>


</div>

<!--Pfeil-->
<div class="read-more hide-mobile">

    <a href="#myskills"><img src="assets/arrow-211-64.png"></a>
</div>



<app-myskills></app-myskills>
<app-work></app-work>
<app-about-me></app-about-me>
<app-contact></app-contact>