

//footer
.container6{
    background-color:#292929;
 
    width: 100vw;
    max-width: 100%;
}

.footer-logo{
    font-size: small;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    text-align: center;
   
   

    img{
        object-fit: contain;
        height: 100px;
        width: 100px;
        margin-top: 40px;
    }

    p{
    // margin-left: 10px;
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    }

.footer-links{
     
   
        display: grid;
        text-decoration: none;
       
       font-family: 'Nunito Sans', sans-serif;
       color: white;
   
       
       

        a{
            color: white;
            text-decoration: none;

            &:hover{
                text-decoration:underline;
            
           
            }
        }
      
    }
    
}




@media (max-width: 1000px){

    .container6-style{
        flex-direction: column;
      
        margin-right: 0px;
    }

    .container6{
        max-height: 100%;
    }

    .footer-logo{
        
        align-items: center;
       

    .footer-links{
        align-items: center;
        flex-direction: column-reverse;
        margin-left: 100px;

    .copyright{
        align-items: center;
        flex-direction: column-reverse;

    }
    }
    }




}