

//footer
.container6{
    background-color:rgb(41, 41, 41);
    height: 30vh;
    width: 100vw;
    max-width: 100%;
}

.footer-logo{
   
   

    img{
        object-fit: contain;
        height: 100px;
        width: 100px;
        margin-left: 50px;
        margin-top: 40px;
    }

    p{
    // margin-left: 10px;
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
    }

.footer-links{
     
        text-align: center;
        display: grid;
        text-decoration: none;
        margin: auto;
       font-family: 'Nunito Sans', sans-serif;
       color: black;
   
       
       

        a{
            color: black;
            text-decoration: none;

            &:hover{
                text-decoration:underline;
            
           
            }
        }
      
    }
    
}




@media (max-width: 1000px){

    .footer-logo{
        
        align-items: center;

    .footer-links{
        align-items: center;
        flex-direction: column-reverse;

    .copyright{
        align-items: center;
        flex-direction: column-reverse;

    }
    }
    }




}