
    <!--footer-->

    <div class="container6" style="background-color:rgb(83, 83, 83); width: 100vw; max-width: 100%;">

        <div style="display: flex; justify-content: space-between; padding: 10px; margin-left: 0; margin-right: 200px;"> 

        <div class="footer-logo" id="header">
            <a href="#home"><img src="assets/Logo_schwarz.png"></a><br>
            <p>© 2022 Laura Andrašev Portfolio</p>
        </div>

       

          
    
        <div class="footer-links" style="
        text-align: center;
        display: grid;
        text-decoration: none;
        margin: auto;
       font-family: 'Nunito Sans', sans-serif;
       color: black;">

        <h3>Rechtliches</h3>
        
        <a routerLink="impressum" style="text-decoration: none; color: black;">Impressum</a>
        <a routerLink="data-protection" style="text-decoration: none; color: black;">Datenschutz</a>
        </div>

    </div>
    
       
    
        
    
    
        </div>
