
    <!--footer-->

    <div class="container6" style="background-color:rgb(83, 83, 83); width: 100vw; max-width: 100%;">



        <div class="footer">
        <img src="assets/Logo_schwarz.png">
       
    
        <div class="footer-links">
        <h3>Rechtliches</h3>
        
        <a routerLink="/impressum">Impressum</a>
        <a routerLink="/data-protection">Datenschutz</a>
        </div>
    
        </div>
    
        <div class="copyright">
            <p>© 2022 Laura Andrašev Portfolio</p>
            </div>
    
    
        </div>
