
    <!--footer-->

    <div class="container6" style="background-color: rgb(15, 15, 15) ;width: 100vw; max-width: 100%;">

        <div class="container6-style" style=" padding: 10px; margin-left: 0"> 

        <div class="footer-logo" id="header">
            <a href="#home"><img src="assets/LOGO.png"></a><br>
            <p>© 2022 Laura Andrašev Portfolio</p>
        </div>

       

          
    
        <div class="footer-links" style="
        text-align: center;
        display: grid;
        text-decoration: none;
       font-family: 'Nunito Sans', sans-serif;
       color: white;">

        <h3>Rechtliches</h3>
        
        <a routerLink="impressum" style="text-decoration: none; color: white;">Impressum</a>
        <a routerLink="data-protection" style="text-decoration: none; color: white;">Datenschutz</a>
        </div>

    </div>
    
       
    
        
    
    
        </div>
