

<!--aboutme-->

<div class="container4" style="padding: 40px 40px; background-color: rgb(15, 15, 15)">

   

    <div class="conatiner-overlay4">

        <div class="header4">
            <p>About Me</p>
        </div>
        
 

    <div class="about-me" id="me">

    <div class="about-me-picture">
    
    <img src="assets/laura.jpg" style="
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 10px 5px 5px 1px rgb(66, 66, 66);"
   
  >

    </div>

    <div class="long-text">
        Mein Name ist Laura Andrašev, bin 25 Jahre alt und Front End Developer.<br>
        Ich wohne zusammen mit meinem Lebensgefährten und unserer kleinen Tochter in Eberbach.<br>
        Meine Zeit verbringe ich gerne mit meiner Familie und Freunden. Zudem bilde ich mich immer gerne weiter und interessiere <br>
        mich sehr für Softwaretechnik und deren Funktionen. Durch meine Weiterbildung zum Front End Developer bei der Developer Akademie<br>
        bringe ich viel Praxiserfahrung mit meinen eigenen Projekten mit.<br>
        
    </div>

    <div class="about-me-text" style="display: flex; justify-content: center;">
    <div class="about-me-home" style="margin-top: 100px">
    <img src="assets/about-me-home.png" style="height: 5vw;object-fit: cover;margin-top: 10px;margin-left: 80px;">
    <p>Wohnort:<br>
        Eberbach / Baden Würrtemberg<br>
    </p>
    </div>

    <div class="about-me-school" style="margin-top: 100px; margin-left: 100px;">
        <img src="assets/about-me-book.png" style="height: 5vw;object-fit: cover;margin-top: 10px; margin-left: 20px;">
        <p>Realschulabschluss:<br>
            2014 <br>
            Darmstadt / Hessen<br>
        </p>
        </div>

    <div class="about-me-school" style="margin-top: 100px; margin-left: 100px;">
        <img src="assets/about-me-school.png" style="height: 5vw;object-fit: cover;margin-top: 10px;margin-left: 100px;">
        <p>Ausbildung:<br>
        Medientechnologe Druck<br>
        Stadt Mannheim / Baden Würrtemberg<br>
        
        
        </p>
        </div>

        <div class="about-me-school" style="margin-top: 100px; margin-left: 100px;">
            <img src="assets/about-me-start-coding.png" style="height: 5vw;object-fit: cover;margin-top: 10px;margin-left: 40px;">
            <p>Intensivkurs<br>
            Webentwickler<br>
            Developer Akademie<br>
            </p>
            </div>

    </div>
    
    
    
    
    </div>
    
    </div>
    </div>
