
    <!--contact-->
    <div class="container5">

        <div class="container-overlay5" style="background-color: rgb(83, 83, 83); background-image: url(assets/job.jpg); background-position: center; background-size: cover; object-fit: cover;  height: 110vh; width: 100vw; max-width: 100%;">
    
            <div class="header5"></div>
    
            <div class="contact" id="contact" style="display: flex; flex-direction: column; align-items: center; margin-top: 100px;">
    
                <p>Let's talk business</p><br>
    
                
            <div class="contact-text">
                Now that you know a lot about me,<br>
                let me know if you are interested to<br>
                work with me.
            </div>
    
         
            
                
        </div>
    
    
       
    
                <form action="http://laura-andrasev.developerakademie.net/contact/send_mail.php" method="post" style="display: flex; flex-direction: column; margin: 10px; margin-top: 70px;align-items: center;">
    
                    <input name="name" placeholder="Name" style="width: 300px; height: 30px; border-radius: 5px; border:1px solid black;">
                    <input name="" placeholder="E-Mail Adresse" style="margin-top: 10px; width: 300px; height: 30px; border-radius: 5px; border:1px solid black;">
                    <textarea name="message" placeholder="Nachricht" style="margin-top: 10px; width: 300px; height: 100px; border-radius: 5px; border: 1px solid black;"></textarea>
                    <button class="send_Mail" type="submit" >Send Mail</button>
            
            
                    
                </form>
    
    
    
         
    
      
    
    
    
        </div>
        </div>
