



//contact

.conatiner-overlay5{
    background-color:black;
    //height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.header5{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 10;

}

.contact{
  


    p{
        margin-top:0px;
        font-weight: 600;
        color: rgb(58, 222, 224);
        font-family: "Nunito Sans", sans-serif;
        font-size: 50px;
    }

    .contact-small{
        justify-content: center;
    
    }

    
}

.contact-text{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;



}

.picture-job{
    object-fit: cover;
    width: 10vh;
    height: 10vw;
}


*, *::before, *::after{
    box-sizing: border-box;
}

.btn{
    background-color: blue;
    color: black;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    margin-top: 50px;

    --background-color: blue;
}

.btn.btn-border-pop::before{

    cursor:pointer;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid blue;
    transition: top, left, right, bottom, 100ms ease-in-out;
}

    .btn.btn-border-pop:hover::before,
    .btn.btn-border-pop:focus::before{
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
        

        
        
    }


@media (max-width: 1000px){

    .conatiner-overlay5{
         height: 0px;
         width: 0px;
         max-width: 100px;
         padding-bottom: 100px;
         padding-left: 50px;
         padding-right: 50px;

    }

    .contact{

        p{
            text-align: center;
        }
    }
  
}
