<!--work-->
<div class="container3">

    <div class="conatiner-overlay3">
    
    <div class="header3" id="mywork">
        <p>My Work</p>

     
    </div>

 
  <div style="justify-content: space-evenly;">

    <!--Projekt1,2,3-->
  
  

        

      

       <div class="work1">
        <div class="projekts3">
        <div class="conatiner-overlay3">
        <img src="assets/kochwelt.png"><p>Kochwelt</p>
        
        <img src="assets/akademie.png"><p>Developer Akademie Webseite</p>
        <img src="assets/quizapp.png"><p>Quizapp</p>

       </div>
       </div>
       </div>

    </div>

       
    




    

