

   
//work
.header3{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 10;
    height: 10px;

}

.conatiner-overlay3{
    background-color:rgb(83, 83, 83);
    height: 150vh;
    width: 100vw;
    max-width: 100%;
   

    p{
    
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: xx-large;
       
       
    }

}

.work1{
    background-color: white;
    height: 28vh;
    width: 40vw;
    max-width: 100%;
    margin-top: 200px;
    margin-left: 100px;
    display: flex;

    p{
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;

    }

    img{
        width: 15vw;
        height: 28vh;
        object-fit: cover;
    }

}


.work2{
    background-color: white;
    height: 28vh;
    width: 40vw;
    max-width: 100%;
    margin-top: 200px;
    margin-left: 100px;
    display: flex;
    

    p{
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;

    }

    img{
        width: 15vw;
        height: 28vh;
        object-fit: cover;
    }

}



.work3{
    background-color: white;
    height: 28vh;
    width: 40vw;
    max-width: 100%;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    

    p{
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 120px;
        margin-right: 100px;
        margin-top: 90px;

    }

    img{
        width: 15vw;
        height: 28vh;
        object-fit: cover;
    }
}


