<!--work-->
<div class="container3">

    <div class="conatiner-overlay3">
    
    <div class="header3" id="mywork">
       <span> My Work</span>

     
    </div>

 
 

    <!--Projekt1,2,3,4-->
  
  

        

    <div class="projects">

       <div class="work1">
        <div class="projekts3">
        <div class="conatiner-overlay3">
        <a href="http://intensivgruppe-1.developerakademie.net/Aktuell-Kochwelt_22.11.2021/index_22.11.2021.html"><img src="assets/kochwelt.png"><p>Kochwelt</p><p>HTML/CSS/JS</p></a></div>
        </div>
       </div>







        




          <div class="work3">
            <div class="projekts3">
            <div class="conatiner-overlay3">
            <a href="http://laura-andrasev.developerakademie.net/Quiz%20App/QuizApp.html"><img src="assets/quizapp.png"><p>Quizapp</p><p>HTML/CSS/JS</p></a></div>

          </div>
          </div>


          <div class="work4">
            <div class="projekts3">
            <div class="conatiner-overlay3">
            <a href="http://laura-andrasev.developerakademie.net/Join2/Join2/Join2/index.html"><img src="assets/Canban-board.png"><p>Canban Board</p><p>HTML/CSS/JS</p></a></div>

          </div>
          </div>



          <div class="work5">
            <div class="projekts3">
            <div class="conatiner-overlay3">
            <a href="http://laura-andrasev.developerakademie.net/API/index.html"><img src="assets/openthesaurus.png"><p>Wörterbuch Synonyme</p><p>HTML/CSS/REST API</p></a></div>

          </div>
          </div>
       

    </div>

  

      
    




    

