.container-overlay3{

    background-color: black;
    padding-bottom: 110px;
   
    max-width: 100%;
}

//Überschrift
.skills-header{
    
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 10;

}

.all-works{
    justify-content: space-around;
}

.all-works-zweite-reihe{
    justify-content: space-around;
    margin-top: 80px;
    height: 230px;
}




.image{
    position: relative;
    width: 250px;
    display: flex;
    border-radius:  solid 50%;
}

.image-img{
    display: block;
    width: 100%;
    border: 5px solid white;
    border-radius: 30px;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 6px;
    text-decoration: none;

}



.image-overlay:hover{
        opacity: 1;
    }



.image-titel{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  

}

.image-description{

    font-size: 1.25em;
    margin-top: 0.25em;
 
}



//Project 2
.image-description2{
    //font-size: 1.25em;
    margin-top: 0.25em;
}

//Project 3
.image-description3{
    //font-size: 1.25em;
    margin-top: 0.25em;
}

//Project 4
.image-description4{
    //font-size: 1.25em;
    margin-top: 0.25em;
}

//Project 5
.image-description5{
    //font-size: 1.25em;
    margin-top: 0.25em;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @media (max-width: 1000px){

        .container-overlay3{
            padding-bottom: 250px;
      

        .all-works{
            flex-direction: column;
            align-items: center;
            margin: 50px;
            margin-bottom: 150px;
            margin-top: 0;
        }



        .image-img{
            display: block;
            width: 100%;
            border: 5px solid white;
            border-radius: 30px;
        }

        .image{
            width: 200px;
            height: 180px;
            margin-top: 50px;
        }
    }

    .all-works-zweite-reihe{
        flex-direction: column;
        align-items: center;
        margin: 50px;
        margin-bottom: 350px;
        object-fit: cover;

        .image-img{
            display: block;
            width: 100%;
            border: 5px solid white;
            border-radius: 30px;
        }

        .image{
            width: 200px;
            top: 100px;
           
        }
      

    
    }
    }



