<!--work-->
<div class="container3">

    <div class="conatiner-overlay3">
    
    <div class="header3" id="mywork">
       <span> My Work</span>

     
    </div>

 
 

    <!--Projekt1,2,3,4-->
  
  

        

    <div style="justify-content: space-evenly;">

       <div class="work1">
        <div class="projekts3">
        <div class="conatiner-overlay3">
        <a href="index_22.11.2021.html"><img src="assets/kochwelt.png"><p>Kochwelt</p><p>HTML/CSS/JS</p></a></div>
        </div>
       </div>







        <div class="work2">
          <div class="projekts3">
          <div class="conatiner-overlay3">
          <a href="index.html"><img src="assets/akademie.png" style="margin-top: 10px;"><p>Developer Akademie Webseite</p><p>HTML/CSS</p></a></div>
        </div>
        </div>




          <div class="work3">
            <div class="projekts3">
            <div class="conatiner-overlay3">
            <a href="QuizApp.html"><img src="assets/quizapp.png"><p>Quizapp</p><p>HTML/CSS/JS</p></a></div>

          </div>
          </div>


          <div class="work4">
            <div class="projekts3">
            <div class="conatiner-overlay3">
            <a href="index.html"><img src="assets/Canban-board.png"><p>Canban Board</p><p>HTML/CSS/JS</p></a></div>

          </div>
          </div>



          <div class="work5">
            <div class="projekts3">
            <div class="conatiner-overlay3">
            <a href="index.html"><img src="assets/openthesaurus.png"><p>Wörterbuch Synonyme</p><p>HTML/CSS/REST API</p></a></div>

          </div>
          </div>
       

    </div>

  

      
    




    

