
<!--skills-->
<div class="container2">
    
    <div class="container-overlay2">
        
    <div class="header2">
        <p>My Skills</p>
    </div>
    
    <div class="skills" style="display: flex;">
    
        <div class="javascript">
        <img src="assets/javascript.png">
        <p><b>Java Script</b></p>
        </div>
    
        <div class="angular">
        <img src="assets/angular.png">
        <p><b>Angular</b></p>
        </div>
    
        <div class="html">
        <img src="assets/HTML_CSS.png">
        <p><b>HTML/CSS</b></p>
        </div>
    
        <div class="scrum">
        <img src="assets/Scrum_Icon.png">
        <p><b>SCRUM</b></p>
        </div>
    
    </div>
    
    <div class="skills2" style="display: flex;">
        <div class="git">
        <img src="assets/Git-Icon.png">
        <p><b>Git</b></p>
        </div>
    
        <div class="design">
        <img src="assets/designthinking.png">
        <p><b>Design Thinking</b></p>
        </div> 
    
        <div class="api">
        <img src="assets/RestAPI_icon.png">
        <p><b>Rest API</b></p>
        </div>
    
        <div class="automation">
        <img src="assets/testautomation.png">
        <p><b>Test automation</b></p>
        </div>
    
        <div class="data">
        <img src="assets/database_icon.png">
        <p><b>Databases</b></p>
        </div>
    
    
    </div>
        
    
    </div>
    </div>
