
//skills
.header2{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 10;

}

.container-overlay2{

    background-color: rgb(41, 41, 41);
    padding-bottom: 100px;
    width: 100vw;
    max-width: 100%;
   

    p{
    
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: xx-large;
       
       
    }
    }

    .container-white{
        width: 200px;
        height: 150px;
        background-color: white;
        border-radius: 4px;
        position: relative;
    }

    .container-rund{
        
        height: 100px;
        object-fit: cover;
        width: 100px;
        background-color: rgb(201, 201, 201);
        border-radius: 100%;
        border: solid;
        position: absolute;
        top: -50px;
        margin-left: 50px;

        img{
            object-fit: contain;
            width: 60px;
            

        }
        }

        .container-rund2{
        
            height: 100px;
            object-fit: cover;
            width: 100px;
            background-color: rgb(201, 201, 201);
            border-radius: 100%;
            border: solid;
            position: absolute;
            top: -50px;
            margin-left: 50px;
    
            img{
                object-fit: contain;
                width: 60px;
                margin-top: 20px;
                
    
            }
            }


            .container-rund3{
        
                height: 100px;
                object-fit: cover;
                width: 100px;
                background-color: rgb(201, 201, 201);
                border-radius: 100%;
                border: solid;
                position: absolute;
                top: -50px;
                margin-left: 50px;
        
                img{
                    object-fit: contain;
                    width: 60px;
                    margin-top: 20px;
                    
        
                }
                }

    
.skills{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    text-align: center;
    margin-top: 100px;
    
    img{
        
        margin-top: 25px;
        object-fit: contain;
        width: 60px;
       
    }

    p{
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        text-align: center;
        justify-content: space-around;
        font-size:20px;
        text-align: center;
        margin-top: 70px;
       
     
    }
}

.skills2{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    margin-top: 100px;
    text-align: center;
    
    img{
        
       
        object-fit: contain;
        width: 60px;
     
    }

    p{
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        text-align: center;
        justify-content: space-around;
        font-size:20px;
        text-align: center;
        margin-top: 70px;
      
    
    }

}


.skills3{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    margin-top: 100px;
    text-align: center;
    
    img{
        
       
        object-fit: contain;
        width: 60px;
  
    }

    p{
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        text-align: center;
        justify-content: space-around;
        font-size:20px;
        text-align: center;
        margin-top: 70px;
      
    
    }

}


@media (max-width: 1000px){
    .container-overlay2{
        background-color: #292929;
        width: 100vw;
        max-width: 100%;
        max-height: 100%;
      
    }


 .skills{
   
     flex-direction: column;
     align-items: center;

  

 img{
  
     height: 50px;
     margin-left: 0px;
 }
 }

 .skills2{
     align-items: center;
     flex-direction: column;
     margin-top: 0px;

     img{
         height: 50px;
         margin-left: 0px;
       
     }
 }

 .skills3{
    align-items: center;
    flex-direction: column;
    margin-top: 0px;

    img{
        
        margin-left: 0px;
    
    }
}

.container-rund{
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
}

.container-white{
    margin: 40px;
}
   
}