
<!--skills-->
<div class="container2">
    
    <div class="container-overlay2">
        
    <div class="header2" id="myskills">
        <p>My Skills</p>
    </div>
    
   
    
        
        <!--Container flex-->
        <div class="skills" style="display: flex">
        
        <!--Java Script-->

        <div class="container-white">
          
            <div class="javascript">

                
                <p><b>Java Script</b></p>
                    
             </div>
             <div class="container-rund">
                <img src="assets/javascript.png">
                </div>
        </div>
    
        <!--Angular-->
        <div class="container-white">

        <div class="angular">
        <p><b>Angular</b></p>
        </div>

        <div class="container-rund">
        <img src="assets/angular.png">
        </div>
        </div>

        <!--HTML/CSS-->
        <div class="container-white">

        <div class="html">
        <p><b>HTML/CSS</b></p>
        </div>

        <div class="container-rund">
        <img src="assets/HTML_CSS.png">
        </div>
        </div>


        
    </div>
    
    
    <div class="skills2" style="display: flex">


     
        <div class="container-white">

            <div class="scrum">
                <p><b>SCRUM</b></p>
            </div>

            <div class="container-rund2">
            <img src="assets/Scrum_Icon.png">
            </div>
            </div>
        

       
        <div class="container-white">

        <div class="git">
            <p><b>Git</b></p>
        </div>

        <div class="container-rund2">
        <img src="assets/Git-Icon.png">
        </div>
        </div>

      
        <div class="container-white">

        <div class="design">
            <p><b>Design<br> Thinking</b></p>
        </div>


        <div class="container-rund2">
        <img src="assets/designthinking.png">
        </div>
        </div>
    

    </div>
        <div class="skills3" style="display: flex">

      
        <div class="container-white">

        <div class="api">
            <p><b>Rest<br> API</b></p>
        </div>

        <div class="container-rund3">
        <img src="assets/RestAPI_icon.png">
        </div>
        </div>

     
        <div class="container-white">

        <div class="automation">
            <p><b>Test<br> automation</b></p>
        </div>

        <div class="container-rund3">
        <img src="assets/testautomation.png">
        </div>
        </div>

      
        <div class="container-white">

        <div class="data">
            <p><b>Databases</b></p>
        </div>

        <div class="container-rund3">
        <img src="assets/database_icon.png">
        </div>
     </div>
    
    
    </div>
        
    
    
   
</div>


