body{
    margin: 0;
}



.kontakt{
    text-align: center;
    justify-content: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    justify-content:space-between;

}

.backroundimage img{
    background-image:url(img/smoothie-gf89d59bb8_1280.png);
    background-image: none;
    margin-left: 100px;
    
    
}