html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
}


@media (max-width: 1000px){
    .container-overlay{
     
        justify-content: center;
        text-align: center;

        p {font-size: 2em !important;
            text-align: center;
        
        }

        img{
            width: 6em !important;
            height: 6em !important;
            object-fit: cover;
            border-radius: 100%;
            margin-left: 100px;
        }
    }
      


        .menu{
           display: none;
       }


       .container-overlay2{
           height: 80vh;
       }


    .skills{
        margin-left: 40px;
        margin-right: 40px;

    img{
        margin-left: 15px;
        height: 50px;
    }
    }

    .skills2{
        margin-left: 40px;
        margin-right: 40px;

        img{
            height: 50px;
            margin-left: 15px;
        }
    }

 

  
    .container-overlay4{
        height: 170vh;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 5px;
    }

    .container4{
        height: 240vh;
        
    }
 
  

    .footer{
        
        align-items: center;

    .footer-links{
        align-items: center;
        flex-direction: column-reverse;

    .copyright{
        align-items: center;
        flex-direction: column-reverse;

    }
    }
    }




    .about-me{
        flex-direction: column;

      

    .about-me-picture{
        border-radius: 100%;
        justify-content: center;
        display: grid;
    }
    }

    .about-me-text{
      
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-right: 0 !important;
        margin-left: 0 !important;

        img{
            text-align: center;
            align-items: center;
            margin-left: 0 !important;
        }
      
    }

    .about-me-home{
       
       text-align: center;
       align-items: center;
       justify-content: center;
      
     
    }

    .about-me-school{
      
        object-fit: cover;
        text-align: center;
        margin-left: 0 !important;
        margin-top: 0 !important;
     
  


    }

    .about-me-book{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 0 !important;
        
   

        img{
            height: 5vw;
            object-fit: cover;
            margin-left: 0px;
        }
    }

   


}

